body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}
.header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 55px;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  height: 45px;
}

.location-dropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-item {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-item:hover {
  color: #fc8019;
}

.search-btn {
  display: flex;
  align-items: center;
  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
  width: 200px;
}

.search-btn input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
  flex: 1;
}

.search-btn i {
  color: #333;
  font-size: 16px;
}

.search-btn:hover {
  background: #e0e0e0;
}
